

<script>
    async function fetchtest(){     
        let data = {value:'Hallo'}
        var csrftoken = '{{ csrf_token }}';
        console.log(csrftoken);
        let resp = await fetch('http://127.0.0.1:8000/contacts/',{       
            method:'POST',  
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token}}' // Include the CSRF token in the header
            },         
            body: JSON.stringify(data)
        })       
        console.log( resp);
    }
</script>
    <button onclick="fetchtest()">click</button>
