
    <form method="POST" action="/createTodoView/">
        {% csrf_token %}
      
        <input type="submit" value = "Register">
        <input type="hidden" name="redirect" value="{{redirect}}">
        <div>
            username<br>
            <input name="username" type="text">
        </div>
        <div>
            password<br>
            <input name="password" type="password"></div>
        <div>
            repeat password<br>
            <input name="password2" type="password">         
        </div>
        <div>
            email<br>
            <input name="email" type="email"><br>
            first_name<br>
            <input name="first_name" type="text"><br>
            last_name<br>
            <input name="last_name" type="text">
        </div>
        <div style="margin-top: 25px;"><button>register</button></div> 
    </form>